  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="search" name="search" [(ngModel)]="searchText" autocomplete="off"
          placeholder="Search User based on any field">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>BATCH_NAME</th>
            <th>BATCH_MONTH</th>
            <th>BATCH_GROUP</th>
            <th>BATCH_STATUS</th>
            <th>Role</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | filter:searchText">
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.mobile}}</td>
            <td>{{user.batch_name}}</td>
            <td>{{user.batch_month}}</td>
            <td>{{user.batch_group}}</td>
            <td>{{user.batch_status}}</td>
            <td>{{user.role}}</td>
            <td>
              <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="deleteUser(user.username)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
