<!-- Cards -->
<div class="container-fluid">
    <div class="d-flex justify-content-around" style="padding-top: 30px;">
      <!-- Card1 -->
      <div class="col-sm-4">
        <div class="card border bg-light shadow p-3 mb-4 bg-white rounded">
          <div class="card-body " style="height:350px;"><br>
            <h5 class="card-title text-center">EAT WHAT YOU LOVE
            </h5>
            <img src="assets/images/card1.jpg" alt="" srcset="" style="padding-left:20x;">
            <p class="card-text text-justify"><b>Customize your meal planner with your favorite foods.</b> Yes, you can
              eat delicious meals and still lose weight.
              Your personalized plan lets you easily swap in foods to suit your needs and tastes.</p>
          </div>
        </div>
      </div>
      <!-- Card2 -->

      <div class="col-sm-4">
        <div class="card border bg-light shadow p-3 mb-4 bg-white rounded">
          <div class="card-body" style="height:350px;"><br>
            <h5 class="card-title text-center">MAKE HEALTHY EATING EASY
            </h5>
            <img src="assets/images/card2.jpg" alt="" srcset="" style="padding-left:20px;">

            <p class="card-text text-justify"><b> Take all the guesswork out of healthier eating.</b> Discover thousands
              of easy and delicious family-friendly ideas for breakfast,
              lunch and dinner — and even snacks and dessert!</p>
          </div>
        </div>
      </div>
      <!-- Card3 -->

      <div class="col-sm-4">
        <div class="card border bg-light shadow p-3 mb-4 bg-white rounded">
          <div class="card-body" style="height:350px;"><br>
            <h5 class="card-title text-center">PERSONALIZE IT
            </h5>
            <img src="assets/images/card3.jpg" alt="" srcset="" style="padding-left: 50px;">
            <p class="card-text text-justify"><b>from multiple meal plans.</b> Your customized daily plan will be
              tailored to match your
              calorie level and includes printable versions to take with you or hang on your fridge.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
