<div class="container">
  <div class="row">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Batch Category</th>
          <th>Batch Group</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Upload File</th>
          <th>Submit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let batch of batches">
          <td>{{batch.batchCategory}}</td>
          <td>{{batch.batchGroup}}</td>
          <td>{{batch.batchStartDate}}</td>
          <td>{{batch.batchEndDate}}</td>
          <td>
            <input type="file" class="form-control" (change)="onSelectFile($event)" style="height: 100%">
          </td>
          <td>
            <button mat-raised-button color="primary"
              (click)="uploadFile(batch.batchCategory,batch.batchGroup)">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
