<div style="padding-top: 50px; text-align: center;">
  <div>
    <h1>Change Your Password here</h1>
  </div>
  <form [formGroup]="changePassword">
    <div class="two">
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide1 ? 'password' : 'text'" formControlName="password"
          name="password" required>
        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="!passwordInput.value">Enter New Password</mat-hint>
      </mat-form-field>
    </div>
    <div class="two">
      <mat-form-field>
        <input matInput placeholder="Re-Enter Password" [type]="hide ? 'password' : 'text'"
          formControlName="changePassword" name="changePassword" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint *ngIf="!passwordInput.value">Confirm New Password</mat-hint>
      </mat-form-field>
    </div>
    <div class="two">
      <button mat-raised-button color="accent" (click)="changepassword()">Submit</button>
    </div>
  </form>
</div>
